
Content/Maps/chapter1_BuiltData.uasset
Content/Maps/chapter1_BuiltData.uasset
Content/Maps/chapter1_BuiltData.uasset
Saved/VideoCaptures/chapter1_(2).avi
Content/Maps/Chapter3_BuiltData.uasset
Saved/VideoCaptures/chapter1_(9).avi
Content/Maps/Chapter3_UnderGround__BuiltData.uasset
Saved/Logs/SANPERO.log
Saved/Config/Windows/Editor.ini
Intermediate/CachedAssetRegistry.bin
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Config/CrashReportClient/UE4CC-Windows-F5F267E5485F416D9AC97EBEDE1A466F/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-E6DB640946733A77667DCA99D102F1EA/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-BC1E46AB4810217A37A19897CAEB3503/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-ACD27A6E4B2102FD39020B8CB22C7641/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-A9E1A39E4B7165D9038904965AACE6D3/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-7A2BDBA342A5AEFB3707C084B87EB34A/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-5D22FDE34C97464D83CE56BEC11F75EE/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-42701B3E4B73EF27FAF293963C6974D7/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-3BE1F8E84DDA0237D4FF5BA1A9A83DDB/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-2D8647EC46808B3DE6F11DB9444C17AF/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-29BB27564EEE8480F30A6798DA57A126/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-1EC41770447C65CC587D619930FE82AD/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-1759E28840FA0B68BBCC89B99B2C588F/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-0E99A54249D07578F709C598C18D12EA/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-055FC8A3489F99A9A974DCB5DB2C4E22/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-F5F267E5485F416D9AC97EBEDE1A466F/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-E6DB640946733A77667DCA99D102F1EA/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-BC1E46AB4810217A37A19897CAEB3503/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-ACD27A6E4B2102FD39020B8CB22C7641/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-A9E1A39E4B7165D9038904965AACE6D3/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-7A2BDBA342A5AEFB3707C084B87EB34A/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-5D22FDE34C97464D83CE56BEC11F75EE/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-42701B3E4B73EF27FAF293963C6974D7/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-3BE1F8E84DDA0237D4FF5BA1A9A83DDB/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-2D8647EC46808B3DE6F11DB9444C17AF/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-29BB27564EEE8480F30A6798DA57A126/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-1EC41770447C65CC587D619930FE82AD/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-1759E28840FA0B68BBCC89B99B2C588F/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-0E99A54249D07578F709C598C18D12EA/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-055FC8A3489F99A9A974DCB5DB2C4E22/CrashReportClient.ini
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Logs/SANPERO.log
Saved/Config/CrashReportClient/UE4CC-Windows-F5F267E5485F416D9AC97EBEDE1A466F/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-E6DB640946733A77667DCA99D102F1EA/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-BC1E46AB4810217A37A19897CAEB3503/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-ACD27A6E4B2102FD39020B8CB22C7641/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-A9E1A39E4B7165D9038904965AACE6D3/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-7A2BDBA342A5AEFB3707C084B87EB34A/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-5D22FDE34C97464D83CE56BEC11F75EE/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-42701B3E4B73EF27FAF293963C6974D7/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-3BE1F8E84DDA0237D4FF5BA1A9A83DDB/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-2D8647EC46808B3DE6F11DB9444C17AF/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-29BB27564EEE8480F30A6798DA57A126/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-1EC41770447C65CC587D619930FE82AD/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-1759E28840FA0B68BBCC89B99B2C588F/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-0E99A54249D07578F709C598C18D12EA/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-055FC8A3489F99A9A974DCB5DB2C4E22/CrashReportClient.ini
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Logs/SANPERO.log
Intermediate/CachedAssetRegistry.bin
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Logs/SANPERO.log
Saved/Logs/SANPERO.log
Saved/Logs/SANPERO-backup-2022.03.18-10.31.24.log
Saved/Logs/SANPERO-backup-2022.03.16-09.54.27.log
Saved/Config/Windows/Engine.ini
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Config/CrashReportClient/UE4CC-Windows-FEED872D4DDCC6311D3C0093D48165D5/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-CF45F1994E2CFB443AAAE5980AD45DDE/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-BEC1F3FF4209DB6BD25C8DBCD0AA6E47/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-B9B911F24DE696E64C9BF6A88D47F89B/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-91A421CC4AE0B45B81B619996BF0907C/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-86409B7A4582C0548A889CBF64C7661F/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-7F14573043B235A608F59DA5994DE43C/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-7C324AF54C89C8690C6ECE9FDFFC8FC1/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-69E1F54C4A77D9248873D8A5FB00C0A6/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-208A99ED4FBE446FD74D3992D636A51C/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-1E5CEAF1468D896C5CCB5E97434878F4/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-0EFFC73F4E4AF925B3930D930A4C9A67/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-0DF45EAC43A4C88F942BEEB30C3062C7/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-09B3BF724EC0C96CBF79F19B5597EA28/CrashReportClient.ini
Intermediate/CachedAssetRegistry.bin
Intermediate/Build/Win64/SANPEROEditor/Development/Metadata.dat
Intermediate/Build/Win64/SANPEROEditor/Development/Makefile.bin
Intermediate/Build/Win64/SANPEROEditor/Development/DependencyCache.bin
Intermediate/Build/Win64/ActionHistory.bin
Intermediate/Build/SourceFileCache.bin
Intermediate/Build/BuildRules/SANPEROModuleRulesManifest.json
Intermediate/Build/BuildRules/SANPEROModuleRules.pdb
Intermediate/Build/BuildRules/SANPEROModuleRules.dll
Binaries/Win64/UE4Editor.modules
Binaries/Win64/UE4Editor-SANPERO.pdb
Binaries/Win64/UE4Editor-SANPERO.dll
Binaries/Win64/SANPEROEditor.target
.vs/SANPERO/v16/.suo
.vs/SANPERO/v16/Browse.VC.db
.vs/SANPERO/v16/Solution.VC.db
Content/Maps/Chapter_2_BuiltData.uasset
Content/Maps/Chapter3_UnderGround__BuiltData.uasset
Saved/Logs/SANPERO.log
Saved/Logs/SANPERO-backup-2022.04.28-13.09.17.log
Saved/Logs/SANPERO-backup-2022.04.28-12.53.47.log
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Config/CrashReportClient/UE4CC-Windows-C14206DF4DC2B3D3E71798824793113C/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-27AFF37F45D89BF3A1B4E3A3BBBF2467/CrashReportClient.ini
Intermediate/ReimportCache/3688439234.bin
Intermediate/CachedAssetRegistry.bin
Saved/Logs/SANPERO.log
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Intermediate/ReimportCache/3688439234.bin
Intermediate/CachedAssetRegistry.bin
Saved/Logs/SANPERO.log
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Intermediate/ReimportCache/3688439234.bin
Intermediate/CachedAssetRegistry.bin
