
Content/Maps/chapter1_BuiltData.uasset
Content/Maps/chapter1_BuiltData.uasset
Content/Maps/chapter1_BuiltData.uasset
Saved/VideoCaptures/chapter1_(2).avi
Content/Maps/Chapter3_BuiltData.uasset
Saved/VideoCaptures/chapter1_(9).avi
Content/Maps/Chapter3_UnderGround__BuiltData.uasset
Saved/Logs/SANPERO.log
Saved/Config/Windows/Editor.ini
Intermediate/CachedAssetRegistry.bin
Saved/Config/Windows/EditorPerProjectUserSettings.ini
